apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: taft
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # storageClassName: standard  # Uncomment and adjust based on your cluster
