name: Build & Push Docker Images

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: {}

env:
  REGISTRY: docker.io
  DH_USER: ${{ secrets.DOCKERHUB_USERNAME }}
  DH_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DH_USER }}
          password: ${{ env.DH_TOKEN }}
        
      - name: Build & Push CLIENT (bash)
        run: |
          docker build  \
            -f ./client/Dockerfile \
            -t ${{ env.DH_USER }}/schedular-client:2 \
            --build-arg VITE_API_BASE=/api \
            ./client
          docker push ${{ env.DH_USER }}/schedular-client:2

      - name: Build & Push SERVER (bash)
        run: |
          docker build  \
            -f ./server/Dockerfile \
            -t ${{ env.DH_USER }}/schedular-server:2 \
            ./server
          docker push ${{ env.DH_USER }}/schedular-server:2
            